# Operators:-
Operator is a symbol that performs an operation.

Operators acts on operands(i.e.., variables)

### example_1:-
#### a + b 
in this expression "a" and "b" are the operands and "+" is the operator.
### note:-
1) If an operator acts on the one variable it is called unary operator 

2) If an operator acts on the two variable it is called binary operator 

3) If an operator acts on the three variable it is called ternary operator

# 1) Arithmetic Operators( +,-,*,/,%,// ,**)

5//2=>  2) 5 (2.5   # //
           4
        ______
           1     # %

In [1]:
a,b=5,2
print("a+b = ",a+b)   # return the addition of a,b
print("a-b = ",a-b)   # return the substraction of a,b
print("a*b = ",a*b)   # return the multiplication of a,b
print("a/b = ",a/b)   # return the value of  a/b("a" divided by "b")
print("a//b = ",a//b) # return the floor value of the "a" divided by "b"
print("a%b = ",a%b)   # return the reminder of the "a" divided by "b" 
print("a**b = ",a**b)  # returnn the "a" to the power of the "b

a+b =  7
a-b =  3
a*b =  10
a/b =  2.5
a//b =  2
a%b =  1
a**b =  25

15/2 ==  10) 15 (2 # this is return by "/"
              20
             _____
               0  # This is return by " %"

# 2) Assignment Operators( +=,-=,*=,/=,%=,//= )

In [14]:
a=10
b=20
c=10

a+=5   #  a=a+5
print(a)

a=a+5  # == > a=10+5=15
print(a)

b-=8   # b=b-8
print(b)

b*=b   # b=b*b
print(b)

b/=12  # b=b/12
print(b)

b//=2   # b=b//2
print(b)

15
20
12
144
12.0
6.0

# 3) Relational Opearators(  <,>,<=,>=,==,!= ):-
>Relational Opearators Used to compare two quantities

In [1]:
x=10
y=20

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

print("_________________")

print(x>x)
print(x>=x)
print(x<x)
print(x<=x)
print(x==x)
print(x!=x)

False
False
True
True
False
True
_________________
False
True
False
True
True
False

# 4) Logical Operators(or,and,not):-

1) and # (x and y),if x is False, it return x, otherwise it return y.

2) or # (x or y),if x is False, it return y, otherwise it return x.

3) not # (not y),if x is False,it return True,otherwise True.

Logical operators are useful to construct the compound conditions. A compound condition is a combination of the more then one simple condition.

### Truth Table for "or"
T+T=T

T+F=T

F+T=T

F+F=F

### Truth Table for "and"
T+T=T

T+F=F

F+T=F

F+F=F

In [5]:
x=100
y=200
z=100
print(x>y and y<z)
print(x>z or x==z)
print(not y>x)
print(not x<z)
print("\n===========\n")
print(x and y)
print(x or y)
print(not y)
print(not 0)
print("\n===========\n")
print(1 and 2 and 3)
print(1 or 2 or 3)
print(1 and 2 or 3)
print(1 or 2 and 3)

False
True
False
True

===========

200
100
False
True

===========

3
1
2
1

In [3]:
x=100
y=200
print("1) ",x and y)
print("2) ",x or y)
print("3) ",not y)

1)  200
2)  100
3)  False

# 5) Boolean Opeartor
>There two bool type literals. They are "True" and "False". Boolean operators acts upon "bool" type literals and they provide "bool" type output. That means the result privided by the boolean operators is either "True" or "False" .

In [29]:
print(True and False)
print(False and True)
print(True and True)
print(False and False)

False
False
True
False

# 6) Mebership Operator
Membership operator is usufull to test the membership in the sequence such as list, tuple,dictionary and string..... etc:

There are two membership operators:

1) in       
> This operator return True if an element find in the specified sequence, otherwise it return False

2) not in
> This operator is complety reverse to the "in" operator, This operator return True if an element not find in the specified sequence such as list, tuple,dictionary and string..... etc,otherewise return False.

In [5]:
l=[1,2,3,4,5]
print(2 in l)
print(3 not in l)

True
False

In [1]:
s="Data Science with python"
print("data" in s)
print("Data" in s)
print(" " in s)

s="Data Science with python"
print("data" in s)
print("Data" in s)
print(" " in s)
print("Data Science " in s)

False
True
True
False
True
True
True

# 7)  identity operator

>The memory location of the object can be seen by the id() function. this function returns the integer number, 
called identity number, that initially represent the memory location of the object.

In [37]:
x = 1729
y = 20
print(x)
print(id(x))
print(id(y))

print(id(1729))

1729
796386503504
796275469200
796386503728

### There are 2 identity oprators
1) is 

2) is not

These operators are used to compare the memory location of the two objects. Hence, it is possible to know that, they are same or not.

In [46]:
x=10
y=10
print(id(x))
print(id(y))
print(x is y)
print(x==y)

print("============================")

x=[1,2,3,4] 
y=[1,2,3,4]  
print(id(x))
print(id(y))
print(x is y)
print(x==y)

796275468880
796275468880
True
True
============================
796368319424
796368319360
False
True

In [17]:
# is 

a=10
b=11
if(a is b):
    print("same")
else:
    print("not same")
    
#output is " same". because...., id of the a and b is same.
print(id(a))
print(id(b))
print(id(10))
print(a is not b)

not same
815120673360
815120673392
815120673360
True

In [10]:
a="python"
b="python"
if(a is b):
    print("same")
else:
    print("not same")
    
#output is " not same". because...., id of the a and b is not same.
print(id(a))
print(id(b))

same
124969206704
124969206704

In [11]:
# is 

a=[1,2,3,4,5]
b=[1,2,3,4,5]
if(a is b):
    print("same")
else:
    print("not same")
    
#output is "not same". because...., id of the a and b is not same.
print(id(a))
print(id(b))

not same
125035392064
125035398592

#### #### so, if you want to compare the values of the objects, we should use  the " == "

In [ ]:
a=10
b=10
if(a == b):
    print("same")
else:
    print("not same")
    
# #output is " same". because...., id of the a and b is same.
# print(id(a))
# print(id(b))

In [12]:
a="python"
b="python"
if(a == b):
    print("same")
else:
    print("not same")

same

In [13]:
a=[1,2,3,4,5]
b=[1,2,3,4,5]
if(a == b):
    print("same")
else:
    print("not same")
    
print("=============")
print(a==b)
print(a is b)

same
=============
True
False

# 8) Bitwise oprators in python

### Bitwise NOT (Complement) Operator( ~ )

In [49]:
# "~" return the complement of the number
# a compliment is -a

print(~11)                           
print( ~ 12)
print(~13)
print(~1729)

-12
-13
-14
-1730

### bitwise AND Operator ( & )

#### TRUE table for AND :-

# 0 0 = 0
# 0 1 = 0
# 1 0 = 0
# 1 1 = 1

In [50]:
# it peforms the AND operation on the idividual bits of the number

print(10 & 11) #bin(10) = 0000 1010
               #bin(11) = 0000 1011
               #        = 0000 1010 = bin(10)

10

### Bitewise OR Operator ( | )

#### TRUE table for OR :-

# 0 0 = 0
# 0 1 = 1
# 1 0 = 1
# 1 1 = 1

In [53]:
# it peforms the OR operation on the idividual bits of the number

print(10 | 11) #bin(10) = 0000 1010
               #bin(11) = 0000 1011
               #        = 0000 1011 = bin(11)

11

### Bitwise XOR OPerator ( ^ )

#### TRUE table for XOR :-

# 0 0 = 0
# 0 1 = 1
# 1 0 = 1
# 1 1 = 0

In [54]:
"""
This operator performs exclusive (OR) XOR operation on the bits of the numbers
" ^ " symbol is called cap,carat,circumflex syblom

"""
print(10 ^ 11) #bin(10) = 0000 1010
               #bin(11) = 0000 1011
               #        = 0000 0001 = bin(1)

1

### Bitwise Left Shift Operation

In [56]:
print(10<<2)    #

40

### Bitwise Right Shift Operation

In [57]:
print(10>>2)    #

2

# Mathematical Functions

In [14]:
import math as m

#ceil()
print("ceil of 12.34 is ",m.ceil(12.34))  # return ceil value of the 12.34

#floor()
print("floor of 12.34 is ",m.floor(12.34))  # return floor value of the 12.34

#degree()
print("degrees value of radians 12.34 is ",m.degrees(12.34))  # 

#degrees()
print("radians value of the degree 12 .34 is ",m.radians(12.34))

#sin()
print("sin(60) is ",m.sin(60)) # 60 is radians value

#cos()
print("cos(60) is ",m.cos(60)) # 60 is radians value

#tan()
print("tan(60) is ",m.tan(60)) # 60 is radians value

#exp()
print("e^2 is ",m.exp(2)) # exponatiation of the 2

#fabs()
print("absolute value of the 12 is ",m.fabs(12),"absolute value of the -12.34 is ",m.fabs(-12.34))

#factorial()
print("factorial of the 4 is ",m.factorial(4))
#print("factorial of the 4.56 is ",m.factorial(4.56)) #value error
#print("factorial of the -4 is ",m.factorial(-4)) # value error
#print("factorial of the 'a' is ",m.factorial("a")) # type error

#fmod()
print("reminder for 10 divided by 4 ",m.fmod(10,4)) # return the reminder

#sum()
print("sum of elements in a sequence is ",m.fsum(range(10))) # return thr sum of thr elements in the sequence
print(m.fsum([1,2,3,4,5,6,7,8,9,10]))
print(m.fsum((1,2,3,4,5,6,7,8,9,10)))

#modf()
print("the fraction and inter part of the float 2.56 is ",m.modf(2.56))  # return the fraction and inter part of the float

#sqrt()
print("square root of the 4 is ",m.sqrt(4))

#pow()
print("the value of the 5 to the power of 2 is ",m.pow(5,2))

#gcd()
print("GCD of 25,10 is",m.gcd(25,10))

ceil of 12.34 is  13
floor of 12.34 is  12
degrees value of radians 12.34 is  707.0299191914359
radians value of the degree 12 .34 is  0.21537362969610027
sin(60) is  -0.3048106211022167
cos(60) is  -0.9524129804151563
tan(60) is  0.320040389379563
e^2 is  7.38905609893065
absolute value of the 12 is  12.0 absolute value of the -12.34 is  12.34
factorial of the 4 is  24
reminder for 10 divided by 4  2.0
sum of elements in a sequence is  45.0
55.0
55.0
the fraction and inter part of the float 2.56 is  (0.56, 2.0)
square root of the 4 is  2.0
the value of the 5 to the power of 2 is  25.0
GCD of 25,10 is 5